.hero-illustration,
.skills-illustration1,
.skills-illustration2 {
  display: none;
  z-index: -3;
}

.nav-container {
  a {
    color: black;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;

    .logo {
      color: $dark-color;
      font-weight: bold;
      width: 50px;
    }

    ul {
      display: flex;

      li {
        display: block;
        padding: 0 7px;

        a { color: $dark-color; }

        &:hover a {
          color: $primary-color;
        }
      }
    }
  }
}

#hero {
  padding: 0 1.5em 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  gap: 20px;

  .hero-container {
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;

    .header {
      font-size: 2em;
      font-weight: normal;
      margin-bottom: 0;
      text-align: center;
    }
  
    .subheader {
      color: rgba(49, 42, 64, 0.57);
      letter-spacing: 0.135em;
      text-transform: uppercase;
      margin: 5px 0;
      font-size: 0.8em;
      text-align: center;
    }
  
    .hire-me {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.5em;
  
      .arrow-down {
        width: 25px;
      }
    }
  }

  .scroll-illustration {
    width: 30px;
    margin-top: 1em;
    grid-column: 1/-1;
    grid-row: 2;
    justify-self: center;
    align-self: stretch;
  }
}

#work {
  background: $light-color;
  padding-top: 10px;
  position: relative;

  #work-picture-desktop {
    display: none;
  }

  .work-container {
    padding: 0 1.5em;
    text-align: center;

    > h1 {
      text-transform: uppercase;
      letter-spacing: 0.255em;
      color: $dark-color;
      margin-bottom: 2em;
    }

    .card {
      border-radius: 17px;
    }

    .work-group {
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      margin-bottom: 20px;

      .work-content {
        grid-row: 1 / 5;
        grid-column: 1 / -1;
        z-index: 2;
        color: white;
        background: $dark-color;
        padding: 2em;
        padding-top: 1em;
        text-align: start;
      }
  
      .work-picture {
        grid-row: 4 / -1;
        grid-column: 1 / -1;
        background-size: cover;
        position: relative;

        img{
          width: 50px;
          position: absolute;
          bottom: 10px;
          right: 10px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .work-picture.right {
        background-image: url('../images/web-design.jpg');
      }
      .work-picture.left {
        background-image: url('../images/startup-project.jpg');
        background-position: 0px -90px;
      }
    }

    .work-group:last-child {
      position: relative;
      bottom: -30px;
    }
  }
}

#skills {
  position: relative;
  padding-top: 70px;

  .skills-container {
    padding: 1.5em;
    perspective: 1000px;
    display: grid;
    grid-template-columns: 1fr;

    .skills-group {
      display: block;
      margin: 0 auto 50px;
      
      .card {
        width: 250px;
        height: 350px;
        position: relative;
        transition: all 0.7s linear;
        transform-style: preserve-3d;

        .skills-image, 
        .skills-content {
          width: 100%; 
          height: 100%;
          position: absolute;
        }

        .skills-image {
          background-size: cover;
          z-index: 2;

          color: white;
          text-transform: uppercase;
          display: grid;
          place-content: center;

          h1 {
            text-align: center;
          }
        }

        .skills-content {
          z-index: 1;
          transform: rotateY(180deg);
          right: -20px;
          bottom: -10px;

          background: lighten($light-grey, 12);
          padding: 0 2em;
          text-align: start;
          font-size: 0.9em;

          h1 {
            text-transform: uppercase;
            font-size: larger;
            margin-top: 2em;
          }
        }
      }

      &:first-child .skills-image {
        background-image: url('../images/ui-design.png');
      }
      &:last-child .skills-image {
        background-image: url('../images/frontend-development.png');
      }

      &:hover .card {
        transform: rotateY(180deg);
        
        .skills-image {
          z-index: -1;
        }
      }
    }
  }
}

#services {
  padding: 2em 1.5em;
  background: $dark-color;
  color: white;

  > h1 {
    text-align: center;
    letter-spacing: 0.255em;
    text-transform: uppercase;
    margin: 0 0 50px 0;
  }

  .services-container {

    margin-bottom: 2em;

    .card {
      min-width: 300px;
      width: 300px;
      margin: auto;
      margin-bottom: 40px;
      border: 2px solid #423857;
      border-radius: 6px;
      padding: 1em;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-self: stretch;

      h1 {
        text-align: center;
        font-weight: normal;
        font-size: 2em;
        margin: 0;
      }

      p {
        text-align: center;
        margin: 0;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #E5E5E5;
      }

      .details {
        margin-top: 40px;
      }
    }
  }

  .contact {

    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 20px;

    .container {
      height: 70px;
      width: 70px;
      display: grid;
      place-content: center;
      align-items: center;
      border-radius: 7px;
      overflow: hidden;
      transition: all 0.5s ease-out;

      p {
        text-align: center;
      }

      &:nth-child(1) {
        background: white;
        border: 2px solid $light-color;

        p { color: black; }

        .mail-icon { width: 50px }
      }
      &:nth-child(2) {
        background: $light-color;

        p { color: black }
      }
      &:nth-child(3) {
        background: $primary-color;

        p { color: white }
      }
      &:nth-child(4) {
        background: $light-grey;

        p { color: black }
      }

      p {
        display: none;
        align-self: center;
      }

      // :hover for laptop
      & {
        width: 100%;
        grid-template-columns: auto 1fr;
        padding: 0.8em;

        p { display: unset; }
      }
    }
  }
}

footer {
  background: $dark-color;
  padding: 1.5em;
  color: $light-grey;
  text-align: center;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  font-size: 0.5em;
}

// Animation scroll
.circle {
  animation: circleAnim 1.5s infinite alternate-reverse ease-in-out;
}

@keyframes circleAnim {
  to {
    transform: translateY(30px);
  }
}